.chart-card {
	border-radius: var(--card-border-radius);
	background-color: var(--card-background);
	border: 1px solid var(--table-border-color);
	row-gap: 1rem;
}

.chart-card-header-dark {
	color: var(--title-color);
	background-color: var(--table-header-background);
}

.chart-card-header {
	display: flex;
	justify-content: space-between;
	border-radius: 5px 5px 0 0;
	padding: 10px 1.5rem;
	font-family: 'Montserrat';
	font-weight: 700;
	width: 100%;
}
.spinner-container {
	padding: 1em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.apexcharts-legend-text {
	color: var(--text-color) !important;
}

.apexcharts-tooltip {
	line-height: 1;
	color: var(--text-color);
	background: var(--table-header-background) !important;
	border: 0 !important;
	border-radius: 3px !important;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	white-space: nowrap;
	z-index: 12;
	pointer-events: none;
	position: absolute;
	box-shadow: 1px 1px 6px -4px var(--table-header-background);
	cursor: default;
	font-size: 14px;
}

.apexcharts-tooltip-title {
	border-bottom: none !important;
	background: var(--table-header-background) !important;
	margin-top: 5px;
}
