@media (prefers-color-scheme: dark) {
  :root {
    --website-max-width: 1200px;
    --backgound-color: #121212;
    --title-color: #fcfcfc;
    --text-color: #fcfcfc;

    --card-border: 1px solid #303030;
    --card-background: #252525;
    --card-border-radius: 5px;

    --table-header-background: #202020;
    --table-body-background: #252525;
    --table-border-color: #303030;

    --row-divider-color: #303030;

    --input-background-colot: #2e3035;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --website-max-width: 1200px;

    --backgound-color: #ffefff;
    --title-color: #2a2a2a;
    --text-color: #2a2a2a;

    --card-border: 1px solid #ffffff;
    --card-background: #fffbff;
    --row-divider-color: #fff0ff;
  }
}